<!--HTML PARA PROBAR CADA TIPOGRAFIA-->

<text [customClass]="'h1'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un h1</p>
<hr>

<text [customClass]="'h2'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un h2</p>
<hr>

<text [customClass]="'h3'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un h3</p>
<hr>

<text [customClass]="'h4'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un h4 medium (por defeto medium)</p>
<hr>

<text [customClass]="'h4-regular'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un h4 regular</p>
<hr>

<text [customClass]="'body1'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un body 1</p>
<hr>

<text [customClass]="'body2'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un body 2</p>
<hr>

<text [customClass]="'button'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un button </p>
<hr>

<text [customClass]="'caption'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un caption (tamaño por defecto 12 px) </p>
<hr>

<text [customClass]="'caption-10'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para un caption (tamaño 10 px) </p>
<hr>

<text [customClass]="'body8'" [content]="'MCT005 Calificación declaración jurada'"></text>
<p>Prueba de texto para una clase inexistente (muestra error en consola)</p>
<hr>

<text [customClass]="'h1'"></text>
<p>Prueba de texto para un h1 sin contenido (muestra error en consola)</p>
<hr>

<text [customClass]="'body1'" [content]="'Puede cambiar de color'" [customColor]="true" id="changeColor"></text>
<p>prueba de overdrive</p>